main{
  padding-block: 72px 144px;

  section{
    grid-template-columns: repeat(3, 1fr);

    .cards{
      padding: 12px;
      background-color: var(--gray-300);
      align-items: center;
      border-radius: 12px;

      img{
        margin-bottom: 20px;
        max-width: 306px;
        border-radius: 8px;
      }
    }
  }
}